@font-face {font-family: "Subway Ticker Grid"; src: url("//db.onlinewebfonts.com/t/02b7bb883ca491958fa10cd8a429bd05.eot"); src: url("//db.onlinewebfonts.com/t/02b7bb883ca491958fa10cd8a429bd05.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/02b7bb883ca491958fa10cd8a429bd05.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/02b7bb883ca491958fa10cd8a429bd05.woff") format("woff"), url("//db.onlinewebfonts.com/t/02b7bb883ca491958fa10cd8a429bd05.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/02b7bb883ca491958fa10cd8a429bd05.svg#Subway Ticker Grid") format("svg"); }

body{
    height: 98vh;
    background-color: #000;
    font-family: "Subway Ticker Grid";
    color: rgb(44, 214, 1);
    display: flex;
    justify-content:  center; /*이게 잘 바꾸ㅕ야함*/
    align-items: center;

}

.menu-list{
    list-style: none;
    height: 95vh;
    color: rgb(44, 214, 1);
    display: none;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    border-right: rgb(44, 214, 1) dashed 1.5px;
}

.main > div{
    display: inline;   
}