@font-face {font-family: "Subway Ticker Grid"; src: url("//db.onlinewebfonts.com/t/02b7bb883ca491958fa10cd8a429bd05.eot"); src: url("//db.onlinewebfonts.com/t/02b7bb883ca491958fa10cd8a429bd05.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/02b7bb883ca491958fa10cd8a429bd05.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/02b7bb883ca491958fa10cd8a429bd05.woff") format("woff"), url("//db.onlinewebfonts.com/t/02b7bb883ca491958fa10cd8a429bd05.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/02b7bb883ca491958fa10cd8a429bd05.svg#Subway Ticker Grid") format("svg"); }


html, body{
    height: 100vh;
}

body{
    background-color: #000;
    font-family: "Subway Ticker Grid";
    color: rgb(44, 214, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas {
    display: block;
    position:absolute;
    top:0;
    left:0;
    }
div{
    text-align:center; vertical-align:middle;
}